.container {
	display:flex;
	flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}	
.paragrafo {
	color: #fff;
	font-size: 2.5vh;
	text-align: justify;
	width: 	80vh;
}

.img_lendarios {
	height: auto;
	width: 80vh;
	border-radius: 2vh;
	margin-left: 10vh;
}

#disponibilidade {
	margin-top: 10vh;
}

#disponibilidade-text {
	width: 130vh;
	margin-top: 8vh;
	text-align: justify;
}

.img-float {
	float: right;         
	width: 32vh;              
	height: auto;
	margin-left: 3vh;        
	margin-bottom: 1vh;
	margin-top: 3vh;
	border-radius: 1.5vh;
}

.img-float-esq {
	float: left;         
	width:50vh;              
	height: auto;
	margin-right: 3vh;        
	margin-bottom: 3vh;
	margin-top: 3vh;
	border-radius: 1.5vh;
}
